html *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
#root{
    display: flex;
    background-color: #ece6f5;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
/* ################################## HEADER ################################################################# */
header {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 15vh;    
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color:#1c4573;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.6);  
}
nav {
    margin-right: 5vw;
    font-size: 20px;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 10px;
    border: 2px solid transparent;
}
nav a:hover{
    border: 2px solid white;
    color: white;   
    
}
nav .active{
    background-color:white;
    color: #1c4573;

}nav .active:hover{
    background-color:white;
    color: #1c4573;
}
.containerUser {
    margin:1vw 0 0 5vw;
    display: flex;
    width: 150px;
    height: 113px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userProfile{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
}
.visibleSing{
    width: 90%;
    height: 53px;
}
.visibleSing p{
    text-align: center;
}
.formulario{
    margin: 3vh 0;
    display: flex;
    flex-direction: column;

}
/* ################################## Sign Up ################################################################# */
.SignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    font-size: 13px;
    background-color: rgb(156, 36, 36);
    color: white;
}
/* ################################## Call to Action ################################################################# */
.callAction{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    
}
.call {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 0 0 15vw;
    width: 30vw;
    height: 50vh;
    color: black;
    background: rgba(255, 248, 248, 0.349);
    box-shadow: 0 8px 10px 0 rgba(6, 7, 22, 0.568);
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;

}
.call p{
    text-align: center;
    width: 25vw;
    padding-top: 10vh;
    font-size: 25px;
    color:#1c4573;
    font-weight: 600;
}
.buttonCall{
    background-color:#1c4573 ;
    padding: 10px 20px;
    margin: 5vh;
    border-radius: 5px;
    color: white;
    transition: all 0.2s;
}
.buttonCall:hover{
    transform: translateY(-7px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.555);
    transition: all 0.3s;
}
/* ################################## Carrousel ################################################################# */
.containerCarrousel p{
    margin-top: 10vh;
    font-size: 40px;
    color: white;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    background-color:#1c4573 ;
}
.containerCarrousel{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 77vh;
     
}
.imagen{
    margin: auto 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.3s;
}
.imagen:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.555);
    transition: all 0.3s;
}
h3 {
    color: white;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(9, 2, 70, 0.568);
    text-align: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='blue' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='blue' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}
.carousel-indicators li{
    background-color: #1c4573;
}
/* ################################## Footer ################################################################# */
footer {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1c4573 ;
    color: white;
    padding: 15px 0;
}
/* ################################## Pag Cities ################################################################# */
.containerCities{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenCity{
    margin: 2vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.3s;
}
.imagenCity:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.555);
    transition: all 0.3s;
}
.containerCity{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.city {
    display: flex;
    align-items: center;
    width:100%;
    height:75vh;
    background-size:cover;
    background-position:top
}
h2{
    font-size: 55px;
    text-align: center;
    font-weight: 600;
    color: #1c4573;
    padding: 3vw 0;
}
.buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buscador input{
    width: 60vw;
    font-size: 30px;
    border: none;
    text-align: center;
    outline: none;
    background-color: #ece6f5;
    border-bottom: 4px solid #1c4573;
}
.noFound{
    background-color: #1c4573;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 10vh auto;
    height: 20vh;
    border: 2px solid #1c4573;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.336);
    color: #ffff;
}
h4{
    font-weight: 600;
    padding: 0 10px;
}
.buttons{
    padding-top: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
/* ################################## Itinerario ################################################################# */
.itineraries {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5{
    font-weight: 600;
}
.itinerario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 50vw;
    margin: 5vh auto;
    min-height: 35vh;
    background-color: #1c4573;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.336);
    color: #fff;
 
}
.containerItinerary{
    display: flex;
    width: 50vw;
    align-items: center;
    height: 90%;
    margin:3vw 0;
}
div.userItinerary{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.infoItinerary{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.likes{
    display: flex;

}
.detalleItineray{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    
}
.userPic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}
.hastags{
    padding-top: 4vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h6{
    font-size: 20px;
}
/* ################################## Activities ################################################################# */
.activities{
    display: flex;
    padding-bottom: 2vh;
    margin: 2vh;
    padding: 2vw;
    justify-content: center;
    width: 65vw;
    background-color: #ece6f5;
    border-radius: 10px;
    border: 2px solid #ece6f5;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}
.activities h4{
    font-size: 20px;
    color: #1c4573;
}
.activity{
    width: 20vw;
    height: 20vw;
    margin: 1vh;
    border-radius: 10px;
    background-size: cover;
}
.buttonActivities{
    background-color:#ece6f5 ;
    padding: 10px 20px;
    margin: 5vh;
    border-radius: 5px;
    color: #1c4573;
    transition: all 0.2s;
    border: none;
    outline: none;
    font-weight: 600;
}
.buttonActivities:hover{
    transform: translateY(-7px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.555);
    transition: all 0.3s;
}
.buttonActivities:focus{
    outline: none;
}
/* ################################## Comment ################################################################# */
.containerComment{
    background-color: #ece6f5;
    border-radius: 10px;
    min-width: 65vw;
    padding: 2vw 0;
    margin: 2vh 0;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}
.comments{
    display: flex;
    padding-bottom: 5vh;
}
.comment{
    display: flex;
    align-items: center;
}
.containerComment h4{
    color: #1c4573;
    font-size: 20px;
}
.comment h6,h5{
    font-size: 20px;
    color: #1c4573;
}
.comment p{
    background-color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    padding: 1vw;
    border-radius: 10px;
    color: #1c4573;
    
}
.commentPic{
    width:6vw;
    height:6vw;
    background-size:cover;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    border-radius: 50%;
}
.userComment{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
    width: 15vw;
}
.comentario{
    width: 90%;
    padding: 1vw;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336)
}

/* ################################## Responsive ################################################################# */

@media (max-width: 1030px){
    .logo{
        min-width: 250px;
        max-height: 150px;
        background-image: cover;
    }
    .callAction{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }
    .call{
        margin: 0;
        min-width: 50vw;
    }
    .call p{
        text-align: center;
        min-width: 40vw;
        padding-top: 10vh;
        font-size: 20px;
        color: black;
    }
    .containerCarrousel p{
        font-size: 35px;
        padding: 10px 10px; 
    }
    h2{
        font-size: 40px;
    }
    h5{
        font-size: 16px;
    }
    h6{
        font-size: 14px;
    }
    .buttonCall{
        background-color:#1c4573 ;
        font-size: 15px;
        padding: 8px 8px;
        margin:0 10px;
        border-radius: 5px;
        margin-bottom: 5vh;
        color: white;
        transition: all 0.2s;
    }
    .city {
        height:50vh;
    }
    .detalleItineray,.itinerario{
        width: 100%;
    }
    .userComment{
        width: 25vw;
    }
    .activities h4{
        font-size: 15px;
    }
    .comment h4{
        font-size: 15px;
    }
    .containerComment{
        width: 80vw;
    }
    .containerItinerary{
        width: 80vw;
    }
    .activities{
        width: 80vw;
    }
}
/* ################################## Loading ################################################################# */
@keyframes ldio-uchbpzap1ik {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-uchbpzap1ik div { box-sizing: border-box!important }
.ldio-uchbpzap1ik > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #1c4573 transparent #1c4573 transparent;
  animation: ldio-uchbpzap1ik 1s linear infinite;
}
.ldio-uchbpzap1ik > div:nth-child(2) { border-color: transparent }
.ldio-uchbpzap1ik > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uchbpzap1ik > div:nth-child(2) div:before, .ldio-uchbpzap1ik > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #1c4573;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #1c4573;
}
.ldio-uchbpzap1ik > div:nth-child(2) div:after { 
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #1c4573;
}
.loadingio-spinner-dual-ring-780y9vea2ed {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-uchbpzap1ik {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uchbpzap1ik div { box-sizing: content-box; }
.loading {
    display: flex;
    justify-content: center;
}
span{
    display: none;
}